@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --color1: #fff;
  --color2: #111;
  --btn: #29a8ff;
  --btnHover: #00396e;
  --btnActive: #005db2;
  --total: #111;
  --total2: #f1f2f3;
  --error: rgb(204, 36, 36);
}

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

h1 {
  margin-bottom: auto;
}

img {
  width: 100%;
  height: auto;
}

button {
  font-size: 32px;
  border: none;
  background: var(--btn);
  color: var(--color1);
  box-shadow: -9px 13px 23px rgba(0, 163, 255, 0.65),
    inset -3px 4px 11px #b0dfff;
  border-radius: 12px;
  padding: 15px;
  transition: all 0.25s ease;
  cursor: pointer;
}

button svg path {
  fill: var(--color1);
}

svg {
  pointer-events: none;
}

button:hover {
  background-color: var(--btnHover);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

button:active {
  background-color: var(--btnActive);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: scale(0.95) translate(2px, 2px);
}

.calculator {
  background: linear-gradient(
    167.27deg,
    #f7f8fb -5.94%,
    rgba(247, 248, 251, 0.19) 103.62%
  );
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 39px;
  padding: 60px 30px;
  max-width: 400px;
  width: 100%;
  margin-bottom: auto;
  border: 2px solid var(--total2);
}

.calculator__top {
  min-height: 140px;
  margin-bottom: 40px;
  text-align: right;
  border: 3px solid var(--color1);
  border-radius: 10px;
  padding: 15px;
}

.calculator__top-history {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  min-height: 40px;
}

.calculator__secondary-operand {
  font-size: 32px;
}

.calculator__top-operation {
  font-size: 32px;
}

.calculator__primary-operand {
  font-size: 48px;
  min-height: 60px;
}

.calculator__top-total {
  font-weight: 900;
  font-size: 64px;
  text-shadow: 2px 2px 1px var(--total);
  margin-top: 15px;
  min-height: 77px;
}

.calculator__bottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.operation-plus {
  grid-row: span 2;
}

.number-zero {
  grid-column: span 2;
  grid-row: span 2;
}

button[data-equals] {
  grid-row: span 2;
}

button[data-point] {
  grid-row: span 2;
}

.notification {
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 20px;
  color: var(--color1);
  background-color: var(--error);
  padding: 10px;
  border-radius: 10px;
  font-weight: 700;

  opacity: 0;
  visibility: hidden;
}

.notification.active {
  opacity: 1;
  visibility: visible;
}

.theme {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 16px;
  color: var(--total);
  border: 1px solid #111;
  background: grey;
  padding: 10px;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.theme img {
  width: 32px;
  height: 32px;
}

.theme label {
  cursor: pointer;
}

.theme input {
  width: 0;
  opacity: 0;
}

.theme__status {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #f1f2f3;
  border: 2px solid grey;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  transition: all 0.2s ease;
}

body.light {
  color: #333;
  background: #f1f2f3;
}

body.light button {
  color: #333;
}

body.light .theme {
  border: 1px solid #111;
}

body.dark {
  background: var(--total);
  color: var(--color1);
}

.light .theme__status {
  left: 5px;
}

.dark .theme__status {
  left: 57px;
}
